@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


*{
    box-sizing: border-box;
}

:root{
    --background-color : #EFEFBB;
    --background-second-color : #D4D3DD;
}

body{
    scroll-behavior: smooth;
    background:  var(--background-color);
    background: -webkit-linear-gradient(to right, var(--background-second-color), var(--background-color));
    background: linear-gradient(to right, var(--background-second-color), var(--background-color));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
}




